In [1]:
from ipfn import ipfn
import numpy as np
import pandas as pd

In [10]:
m      = np.array([1., 2., 1., 3., 5., 5., 6., 2., 2., 1., 7., 2.,
               5., 4., 2., 5., 5., 5., 3., 8., 7., 2., 7., 6.], )
dma_l  = [501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501,
          502, 502, 502, 502, 502, 502, 502, 502, 502, 502, 502, 502]
size_l = [1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4,
          1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4]

age_l  = ['20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45']

df = pd.DataFrame()
df['dma'] = dma_l
df['size'] = size_l
df['age'] = age_l
df['total'] = m

In [11]:
xipp = df.groupby('dma')['total'].sum()
xpjp = df.groupby('size')['total'].sum()
xppk = df.groupby('age')['total'].sum()
xijp = df.groupby(['dma', 'size'])['total'].sum()
xpjk = df.groupby(['size', 'age'])['total'].sum()
# xppk = df.groupby('age')['total'].sum()

In [12]:
xipp

dma
501    37.0
502    59.0
Name: total, dtype: float64

In [13]:
aggregates = [xipp, xpjp, xppk, xijp, xpjk]
dimensions = [['dma'], ['size'], ['age'], ['dma', 'size'], ['size', 'age']]

In [14]:
IPF = ipfn.ipfn(df, aggregates, dimensions)
df2 = IPF.iteration()

In [15]:
df

    size    age  dma  total
0      1  20-25  501    1.0
1      1  20-25  502    5.0
2      1  30-35  501    2.0
3      1  30-35  502    4.0
4      1  40-45  501    1.0
5      1  40-45  502    2.0
6      2  20-25  501    3.0
7      2  20-25  502    5.0
8      2  30-35  501    5.0
9      2  30-35  502    5.0
10     2  40-45  501    5.0
11     2  40-45  502    5.0
12     3  20-25  501    6.0
13     3  20-25  502    3.0
14     3  30-35  501    2.0
15     3  30-35  502    8.0
16     3  40-45  501    2.0
17     3  40-45  502    7.0
18     4  20-25  501    1.0
19     4  20-25  502    2.0
20     4  30-35  501    7.0
21     4  30-35  502    7.0
22     4  40-45  501    2.0
23     4  40-45  502    6.0

In [17]:
print(df)
print(df.groupby('size')['total'].sum(), xpjp)

    size    age  dma  total
0      1  20-25  501    1.0
1      1  20-25  502    5.0
2      1  30-35  501    2.0
3      1  30-35  502    4.0
4      1  40-45  501    1.0
5      1  40-45  502    2.0
6      2  20-25  501    3.0
7      2  20-25  502    5.0
8      2  30-35  501    5.0
9      2  30-35  502    5.0
10     2  40-45  501    5.0
11     2  40-45  502    5.0
12     3  20-25  501    6.0
13     3  20-25  502    3.0
14     3  30-35  501    2.0
15     3  30-35  502    8.0
16     3  40-45  501    2.0
17     3  40-45  502    7.0
18     4  20-25  501    1.0
19     4  20-25  502    2.0
20     4  30-35  501    7.0
21     4  30-35  502    7.0
22     4  40-45  501    2.0
23     4  40-45  502    6.0
size
1    15.0
2    28.0
3    28.0
4    25.0
Name: total, dtype: float64 size
1    15.0
2    28.0
3    28.0
4    25.0
Name: total, dtype: float64